:root {
    --branding-color: #6c63ff;
    --secondary-color: #e0d9f3;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
  }
  
  body {
    font-family: var(--default-font-family);
  }

 .color-container{
  background-color: #cdb4d6;
 }

 .overlay{
  border-radius: 25px;
  background-color: #cc95d1;
  margin: 20px 30px;
  padding: 10px;
 }
  
 


  /* Skill Icon and certicates */
  img.skillIcon{
    display: inline;
    width: 30px;
  }

i.fab{
    font-size: 30px;
}
  .certificate{
    display: inline;
    margin: 4px;
    width: 30%;
}

/* Pictures */
#photoImg{
  max-width: 50%;
  border-radius: 5px 70px;

}
#abouphotoytext{
  padding: 0%;
  margin: 0%;
  margin-bottom: 14px;
}
.textnearImg{
  text-align: left;
}

img.palace{
  position: relative;
  top: -10px;
  left: -12px;
  width: 50%;
  border-radius: 70px 5px;
  padding-left: 0;
}

.textabout{
  text-align: center;
}

#centertext{
  text-align: center;
}

  
  .hero {
    background: rgba(245, 184, 245, 0.317);
    text-align: center;
    padding: 160px 20px;
    margin: 0;
    background: linear-gradient(90deg, #553a55, #680668, #64048a, #3a035a);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: fit-content;
  }
  
  .hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
  }
  
  .hero h2 {
    font-family: var(--default-font-family);
    font-weight: normal;
    line-height: 1.5;
    font-size: 24px;
    color: #272142;
  }

  
  .project-description {
    padding: 120px 60px;
  }
  
  .logo {
    max-height: 40px;
  }
  
 
  
  nav {
    padding: 20px 0;
  }
  
  .navbar-branding {
    font-size: 30px;
    font-family: "Dancing Script", cursive;
    margin-top: 8px;
    padding: 15px 15px;
    border-radius: 50%;
    background: linear-gradient(90deg, #553a55, #680668, #64048a, #3a035a);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: fit-content;
  }
  
  nav ul {
    padding: 0;
    margin: 0;
    font-size: 24px;
  }
  
  nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
  }
  
  nav a {
    text-decoration: none;
    color: #272142;
    transition: all 100ms ease-in-out;
  }
  
  nav a:hover,
  nav li a.active {
    color: var(--branding-color);
  }
  
  .contact-links {
    text-decoration: none;
    color: var(--branding-color);
  }

  #sendbutton{
    border:1px solid var(--branding-color);
  }

  a.btn{
    color: var(--branding-color);
    background: var(--secondary-color);
  }

  a.btn:hover{
    color: white;
    background: var(--branding-color);
  }

  /* Frontend */
  h3.centertitle{
    text-align: center;
  }
  .content-box{
    text-align: center;
  }
  .container2 {
    display: inline;
    position: relative;
    width: 50%;
    
  }
  
  .app-img {
    width: 30%;
    height: auto;
    border-radius: 20%;
    margin: 2%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
  }
  
  .container2:hover .app-img {
    opacity: 0.3;
  }
  
  .container2:hover .middle {
    opacity: 1;
  }
  
  .text2 {
    background-color: rgba(1, 0, 5, 0.397);
    border-radius: 20%;
    color: white;
    font-size: 10px;
    padding: 16px 32px;
  }


  /* Footer */
  footer {
    margin: 60px 0;
  }

  footer .btn{
    color:  var(--branding-color);
    border:1px solid #CC95D1;
  }
  footer .btn:hover{
    background: var(--secondary-color);
    color: #CC95D1;
    border:1px solid transparent;
  }
  
  footer .contact-box {
    background: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 10px;
  }
  
  footer .contact-box p {
    margin: 0;
  }
  
  footer .email-link {
    text-decoration: none;
    background: var(--secondary-color);
    border-radius: 10%;
    padding: 5px 5px;
  }
  
  footer .email-link:hover {
    background: #CC95D1;
  }
  
  footer .social-links a {
    margin: 0 20px;
    color: var(--branding-color);
    background: var(--secondary-color);
    padding: 10px 14px;
    font-size: 32px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
  }
  
  footer .social-links a:hover {
    color: white;
    background: var(--branding-color);
  }
  
  .open-source {
    font-size: 20px;
    color: var(--branding-color);
  }
  
  .open-source-link {
    color: var(--branding-color);
    text-decoration: none;
    background: 
    linear-gradient(to right, rgb(209, 141, 192), rgb(216, 127, 194)),
    linear-gradient(to right, rgb(209, 141, 192), rgb(200, 100, 175), rgb(158, 64, 187));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  }
  .open-source-link:hover,
  .open-source-link:focus{
    background-size: 0 0.1em, 100% 0.1em;
  }
  
  .open-source-link:visited {
    color: var(--branding-color);
  }
  @media (max-width: 900px) {
    h1 {
      font-size: 50px;
      line-height: 1.5;
    }
    h2 {
      font-size: 44px;
    }
  
    h3 {
      font-size: 26px;
    }
  
    nav ul {
      font-size: 14px;
    }
  
    .content {
      text-align: center;
      padding: 0;
    }
  
    .project-description {
      padding: 0;
      text-align: center;
    }

    #photoImg{
      max-width: 70%;
    
    }
    img.palace{
      position: relative;
      top: -10px;
      left: -12px;
      width: 70%;
     
    }
    

  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }}